<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>List my variant scroll:</h2>
    <ul>
      <li><a href='/scroll-manual'>Scroll use manual way (прокрутка сделанная ручным способом)</a></li>
    </ul>
  </div>
</ion-content>
